/****** Object:  User [profesor_usuario]    Script Date: 3/30/2026 3:30:52 AM ******/
CREATE USER [profesor_usuario] WITH PASSWORD=N'GNzHSmc6eqtAIaSnrYutZYk5UtqTvK9XO0Of00ey2Ls=', DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'profesor_usuario'
GO
/****** Object:  Table [dbo].[Calls]    Script Date: 3/30/2026 3:30:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calls](
	[CallId] [bigint] IDENTITY(1,1) NOT NULL,
	[OriginNumber] [nvarchar](20) NOT NULL,
	[DestinationNumber] [nvarchar](20) NOT NULL,
	[DurationSeconds] [int] NOT NULL,
	[CallStart] [datetime2](7) NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[CallType] [nvarchar](20) NOT NULL,
	[TimeSlot] [int] NULL,
	[PriceMultiplier] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CallId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CallTypeRates]    Script Date: 3/30/2026 3:30:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CallTypeRates](
	[CallTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CallType] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CallTypeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CallType] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlotRates]    Script Date: 3/30/2026 3:30:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlotRates](
	[TimeSlotId] [int] NOT NULL,
	[TimeSlotName] [nvarchar](50) NOT NULL,
	[PriceMultiplier] [decimal](5, 2) NOT NULL,
	[Description] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeSlotId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Calls] ADD  CONSTRAINT [DF_Calls_CallStart]  DEFAULT (sysutcdatetime()) FOR [CallStart]
GO
ALTER TABLE [dbo].[Calls] ADD  DEFAULT ('Local') FOR [CallType]
GO
ALTER TABLE [dbo].[Calls] ADD  DEFAULT ((0.15)) FOR [PriceMultiplier]
GO
ALTER TABLE [dbo].[Calls]  WITH CHECK ADD CHECK  (([CallType]='Provincial' OR [CallType]='Local'))
GO
ALTER TABLE [dbo].[Calls]  WITH CHECK ADD CHECK  (([Cost]>=(0)))
GO
ALTER TABLE [dbo].[Calls]  WITH CHECK ADD CHECK  (([DurationSeconds]>=(0)))
GO
ALTER TABLE [dbo].[Calls]  WITH CHECK ADD CHECK  (([TimeSlot]=(3) OR [TimeSlot]=(2) OR [TimeSlot]=(1) OR [TimeSlot] IS NULL))
GO
ALTER TABLE [dbo].[TimeSlotRates]  WITH CHECK ADD CHECK  (([TimeSlotId]=(3) OR [TimeSlotId]=(2) OR [TimeSlotId]=(1)))
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerarLlamadasAleatorias]    Script Date: 3/30/2026 3:30:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Created by GitHub Copilot in SSMS - review carefully before executing

CREATE PROCEDURE [dbo].[sp_GenerarLlamadasAleatorias]
    @CantidadLlamadas INT = 15
AS
BEGIN
    SET NOCOUNT ON;

    -- Insertar nuevas llamadas aleatorias
    WITH LlamadasGeneradas AS (
        SELECT TOP (@CantidadLlamadas)
            '809' + RIGHT('0000000' + CAST(ABS(CHECKSUM(NEWID())) % 10000000 AS VARCHAR(7)), 7) AS NumeroOrigen,
            '809' + RIGHT('0000000' + CAST(ABS(CHECKSUM(NEWID())) % 10000000 AS VARCHAR(7)), 7) AS NumeroDestino,
            30 + ABS(CHECKSUM(NEWID())) % 571 AS DuracionSegundos,
            CASE WHEN ABS(CHECKSUM(NEWID())) % 2 = 0 THEN 'Local' ELSE 'Provincial' END AS TipoLlamada,
            CASE 
                WHEN ABS(CHECKSUM(NEWID())) % 3 = 0 THEN 1
                WHEN ABS(CHECKSUM(NEWID())) % 3 = 1 THEN 2
                ELSE 3
            END AS Franja
        FROM (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rn FROM sys.objects) t
        WHERE rn <= @CantidadLlamadas
    )
    INSERT INTO dbo.Calls (OriginNumber, DestinationNumber, DurationSeconds, CallType, TimeSlot, PriceMultiplier, Cost)
    SELECT 
        NumeroOrigen,
        NumeroDestino,
        DuracionSegundos,
        TipoLlamada,
        CASE WHEN TipoLlamada = 'Local' THEN NULL ELSE Franja END AS Franja,
        CASE 
            WHEN TipoLlamada = 'Local' THEN 0.15
            WHEN TipoLlamada = 'Provincial' AND Franja = 1 THEN 0.20
            WHEN TipoLlamada = 'Provincial' AND Franja = 2 THEN 0.25
            ELSE 0.30
        END AS Multiplicador,
        DuracionSegundos * CASE 
            WHEN TipoLlamada = 'Local' THEN 0.15
            WHEN TipoLlamada = 'Provincial' AND Franja = 1 THEN 0.20
            WHEN TipoLlamada = 'Provincial' AND Franja = 2 THEN 0.25
            ELSE 0.30
        END AS Costo
    FROM LlamadasGeneradas;

    -- Mantener solo los últimos 45 registros (borrar los más antiguos)
    DECLARE @TotalLlamadas INT;
    SET @TotalLlamadas = (SELECT COUNT(*) FROM dbo.Calls);

    IF @TotalLlamadas > 45
    BEGIN
        DELETE FROM dbo.Calls
        WHERE CallId NOT IN (
            SELECT TOP 45 CallId 
            FROM dbo.Calls 
            ORDER BY CallId DESC
        );
    END;

    -- Mostrar resultados finales
    SELECT 
        CallId,
        OriginNumber AS NumeroOrigen,
        DestinationNumber AS NumeroDestino,
        CONVERT(DECIMAL(10,2), DurationSeconds / 60.0) AS DuracionMinutos,
        CallType AS TipoDeLlamada,
        TimeSlot AS Franja,
        PriceMultiplier AS Multiplicador,
        Cost AS CostoEuros,
        CallStart AS FechaHora
    FROM dbo.Calls
    ORDER BY CallId DESC;
END;
GO
